parameters:


  database:
      default:
        dsn: 'mysql:host=192.168.202.101;dbname=sportisimo_processdoc'
        host: 192.168.202.101
        dbname: sportisimo_processdoc
        user: sportisimo
        password: sportisimo

services:
